<!--Coltin Barney Assignment 5 2/15/2021-->
@{
    ViewData["Title"] = "Home Page";
}
@model ProjectListViewModel
<header>
    <h1>Online Bookstore</h1>
</header>

@foreach (var x in Model.Books)
{//Outputs database
<div>
    <h4>Book Title: @x.Title</h4>
    <p>Author First Name: @x.AuthorFirstName</p>
    <p>Author Last Name: @x.AuthorLastName</p>
    <p>Publisher: @x.Publisher</p>
    <p>ISBN: @x.ISBN</p>
    <p>Classification: @x.Classification</p>
    <p>Category: @x.Category</p>
    <p>Price: $@x.Price</p>

</div>
}
<div asp-validation-summary="All"></div>

<div page-model="@Model.PagingInfo" page-action="Index"></div>